<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <!-- <meta http-equiv="refresh" content="10"> -->
    <title> Submit Form </title>
</head>

<body>
    {{ $PostForm := .PostForm}}
    {{ if $PostForm}}
    <main>
        <p><strong>Variable Name</strong> and <em>Value</em> </p>
        {{ range $key , $value := $PostForm }}
        <p><strong> {{$key}} </strong></p>
        <ul>
            {{range $value}} <li> {{ . }} </li>
            {{end}}
        </ul>
        {{ end }}
    </main>
    {{ end }}



    <form action="/" method="post">
        <input type="text" name="FirstName" id="FName" placeholder="First Name" autofocus autocomplete="off">
        <input type="text" name="LastName" id="LName" placeholder="Last Name" autofocus autocomplete="off">
        <input type="text" name="Age" id="Age" placeholder="Age" autofocus autocomplete="off">
        <input type="submit" name="submit-button" value="send">
    </form>
</body>

</html>